@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;500&display=swap");

html,
body {
  box-sizing: border-box;
  height: 100vh;
  font-family: Spline Sans, sans-serif;
  margin: 0;
  padding: 0;
  /*background: rgb(0, 0, 0);
  background: radial-gradient(circle, #000000 0%, #f73a3a 30%);*/
  filter: contrast(160%) brightness(100%);
  background: linear-gradient(90deg, rgba(120, 29, 66, 1), rgba(0, 0, 0, 0)),
    linear-gradient(360deg, rgba(200, 75, 49, 1), rgba(255, 255, 255, 0)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 376 376' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  overflow-x: hidden;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.main--section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  filter: blur(0.2px);
  -webkit-filter: blur(0.2px);
}

/* Título */
.main_heading {
  /*transform: rotate(90deg);*/
  margin: 0px 25px;
  font-weight: 500;
  color: white;
  font-size: 2.5rem;
  filter: blur(1.5px);
}

/* Texto de info/about Kunturina */
.main_text {
  width: 320px;
  margin: 10px 25px;
  font-size: 1.3em;
  font-weight: 300;
  color: white;
  /*letter-spacing: 5px;*/
  text-align: justify;
  filter: blur(1px);
}

/* Borders */
.border {
  border-bottom: 2px solid white;
  filter: blur(1.5px);
}

a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

a:hover {
  color: rgb(206, 204, 204);
}

/* Marquee */
.marquee {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  color: white;
  filter: blur(1.5px);
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 15s linear infinite;
  animation-play-state: running;
}

.marquee span {
  font-size: 1.8vw;
  font-weight: 500;
  padding: 0 2vw;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
